<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额10万元/单日限额50万元</string>
		<key>bankName</key>
		<string>工商银行</string>
		<key>bankImageName</key>
		<string>bank_gongs_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额10万元/单日限额20万元</string>
		<key>bankName</key>
		<string>农业银行</string>
		<key>bankImageName</key>
		<string>bank_nongy_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5万元/单日限额50万元</string>
		<key>bankName</key>
		<string>中国银行</string>
		<key>bankImageName</key>
		<string>bank_zhongg_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5万元/单日限额50万元</string>
		<key>bankName</key>
		<string>建设银行</string>
		<key>bankImageName</key>
		<string>bank_jians_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额10万元/单日限额20万元</string>
		<key>bankName</key>
		<string>交通银行</string>
		<key>bankImageName</key>
		<string>bank_jiaot_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额2万元/单日限额50万元</string>
		<key>bankName</key>
		<string>邮政银行</string>
		<key>bankImageName</key>
		<string>bank_youzheng_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额10万元/单日限额50万元</string>
		<key>bankName</key>
		<string>广发银行</string>
		<key>bankImageName</key>
		<string>bank_guangf_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5万元/单日限额5万元</string>
		<key>bankName</key>
		<string>平安银行</string>
		<key>bankImageName</key>
		<string>bank_pinga_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5万元/单日限额5万元</string>
		<key>bankName</key>
		<string>招商银行</string>
		<key>bankImageName</key>
		<string>bank_zhaos_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额10万元/单日限额50万元</string>
		<key>bankName</key>
		<string>民生银行</string>
		<key>bankImageName</key>
		<string>bank_mins_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5万元/单日限额5万元</string>
		<key>bankName</key>
		<string>光大银行</string>
		<key>bankImageName</key>
		<string>bank_guangd_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5万元/单日限额5万元</string>
		<key>bankName</key>
		<string>兴业银行</string>
		<key>bankImageName</key>
		<string>bank_xingy_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5000元/单日限额5000元</string>
		<key>bankName</key>
		<string>中信银行</string>
		<key>bankImageName</key>
		<string>bank_huax_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5万元/单日限额5万元</string>
		<key>bankName</key>
		<string>浦发银行</string>
		<key>bankImageName</key>
		<string>bank_puf_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5000元/单日限额5000元</string>
		<key>bankName</key>
		<string>北京银行</string>
		<key>bankImageName</key>
		<string>bank_beij_image</string>
	</dict>
	<dict>
		<key>bankContent</key>
		<string>本卡单笔限额5000元/单日限额5000元</string>
		<key>bankName</key>
		<string>上海银行</string>
		<key>bankImageName</key>
		<string>bank_zheshang_image</string>
	</dict>
</array>
</plist>
