<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DuiBa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41449D0C1C9FA71B00412B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41449D251C9FA71B00412B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41449D301C9FA71B00412B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
